<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
<div class="card-container card-flex-container">
    <div class="avatar-logo">
    </div>
    <div class="header">
        <div class="name-surname-text">Egor Ulianov</div>
        <div class="description">Software developer</div>
        <div class="flags">
            <div class="flag ru-flag"></div>
            <div class="flag en-flag"></div>
            <div class="flag cz-flag"></div>
        </div>
    </div>
    <div class="biography">
        <div class="biography-point">
            Born in Siberia in 2000
        </div>
        <div class="biography-point">
            Graduated from high school in 2018 with honors
        </div>
        <div class="biography-point">
            Moved to the Czech Republic in 2018
        </div>
        <div class="biography-point">
            Work in Misterine s.r.o. since summer 2019
        </div>
        <div class="biography-point">
            Graduated from the FEE CTU in Prague with a bachelor's degree in 2022
        </div>
    </div>
</div>
