<div>
    <h1>Analysing Instagram Networks of cafes in Prague</h1>

    <h2>Introduction</h2>
    <h3>Project aim</h3>
    <p>
        The aim of this project is to analyse the Instagram networks of cafes in Prague. The project is divided into two parts. The first part is to collect data from Instagram and the second part is to analyse the data.
    </p>

    <h3>Questions</h3>
    <p>
        The following questions are asked in this project:
    </p>
    <ul>
        <li>Is it possible to obtain the network data using Instagram API?</li>
        <li>Can Network Science instruments provide insights about peoples preferences on the market?</li>
        <li>Can be the results obtained in this study useful for business?</li>
    </ul>

    <h3>Research object</h3>
    <p>
        The research object is the Instagram network of cafes in Prague. 
        The network is created by connecting cafes and their followers on Instagram. 
    </p>

    <h3>Research subject</h3>
    <p>
        The research subject is properties of the Instagram network of cafes in Prague.
        The study focuses on the following properties:
    </p>
    <ul>
        <li>Network size</li>
        <li>Strongly connected components</li>
        <li>Betweeness centrality</li>
    </ul>
    

    <h2>Part I. Data collection</h2>

    <p>
        In this part of the project, the process of data collection is discussed.
    </p>

    <h3>Desired data quality</h3>
    <p>
        To construct the network, the following data are ideally needed:
    </p>
    <ul>
        <li>Instagram username of a cafe</li>
        <li>Instagram username of a follower</li>
        <li>Relationship between a cafe and a follower</li>
        <li>Relationship between followers</li>
    </ul>

    <h3>Instagram API</h3>
    <p>
        Instagram provides an API for developers to access data from Instagram, which is called Graph API.
        The Graph API makes it possible to get information about users, media, hashtags, locations, comments, and so on.
        Unfortunately, the Graph API does not provide information about followers of users, which is needed for the project.
        This issue, however, can be solved by using the Instagram API for the website and application.
    </p>

    <h3>instagrapi</h3>
    <p>
        Instagrapi is an unofficial Instagram API for Python distributed under the MIT License. 
        It is a wrapper for the Graph API which provides additional functionality.
        Instagrapi makes it possible to get information about followers of users by using Instagram endpoints fof the website and application.
    </p>
    <a href="https://github.com/subzeroid/instagrapi">Source code on GitHub</a>

    <h3>Problems</h3>
    <p>
        From the beginning, the instagrapi library seemed to be promising for achieving the project aim.
        However, the library has some problems which make it difficult to use.
    </p>
    <p>
        The first problem is that the library uses chunked requests to get information about followers of users.
        This approach is not efficient because it takes a lot of time to get information about all followers of the user.
    </p>
    <p>
        The second problem is not related to the library itself but to the Instagram policy.
        Instagram has got different instruments how to prevent scraping data from itself:
    </p>
    <ul>
        <li>Instagram limits the number of requests each 15-20 minutes</li>
        <li>Instagram limits the number of requests per 6 hours</li>
        <li>Instagram blocks requests from the same IP address</li>
        <li>Instagram blocks requests from the same device</li>
        <li>Instagram blocks requests from the same account</li>
        <li>Instagram block suspicious accounts</li>
        <li>Instagram limits its sessions lifetime for suspicious accounts</li>
    </ul>

    <h3>Solutions and Work-arounds</h3>
    <p>
        These problems are quite serious and make it difficult to collect the needed data from Instagram.
        However, it is crucial to at least obtain the data about followers of cafes themselves, without follow connections between followers.
        These data can be still obtaied by using the instagrapi library with the following work-arounds:
    </p>
    <ul>
        <li>Use a proxy server to change IP address</li>
        <li>Use a different account for each cafe</li>
        <li>Use a different account for each session</li>
    </ul>
    <p>
        Also, cafes with a small number of followers will be used to avoid the problem with the number of requests.
    </p>
    <p>
        Yet, it is vital to somehow obtain the data about connections between followers.
        For this purpose, it is possible to get information about mentions of cafes in posts of followers. 
        These data are available through the Graph API and can be obtained by using the instagrapi library.
    </p>

    <h2>Part II. Network construction</h2>

    <p>
        This part discusses the process of network construction, namely, the used technologies and principles.
    </p>
    <h3>Used technologies</h3>
    <p>
        The network is constructed by using NetworkX library for Python.
        NetworkX is a Python package for the creation, manipulation, and study of the structure, dynamics, and functions of complex networks.
    </p>

    <h3>Principles</h3>
    <p>
        To construct a network, it is necessary to define nodes and edges.
        In our case, nodes are Instagram users and edges are connections between them.
        The connections are defined by the following rules:
    </p>
    <ul>
        <li>
            If a user follows a cafe, then there is an edge from the user to the cafe. The weight of the edge is 1.
        </li>
        <li>
            If a user mentions a cafe in a post, then there is also an edge from the user to the cafe. The weight of the edge is increased by 1 with each mention.
        </li>
        <li>
            If a user mentions another user in a post, then there is an edge from the user to the mentioned user and vice-versa. The weight of the edge is 1 (increases with each mention by 1).
        </li>
    </ul>

    <app-example-network></app-example-network>
</div>
